<div class="mb-0 bg-light d-none d-lg-block">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center text-center py-3">
        <div class="col-md-2 my-auto px-3 px-xl-5">
          <img src="{{ '/assets/images/logos/gdpr.svg' | relative_url }}" class="grayscale img-fluid bg-white round shadow px-5 py-3" alt="" loading="lazy" crossorigin="anonymous">
        </div>
        <div class="col-md-2 my-auto px-3 px-xl-5">
          <img src="{{ '/assets/images/logos/hippa.svg' | relative_url }}" class="grayscale img-fluid bg-white round shadow px-5 py-3" alt="" loading="lazy" crossorigin="anonymous">
        </div>
        <div class="col-md-2 my-auto px-3 px-xl-5">
          <img src="{{ '/assets/images/logos/ccpa.svg' | relative_url }}" class="grayscale img-fluid bg-white round shadow px-5 py-3" alt="" loading="lazy" crossorigin="anonymous">
        </div>
        <div class="col-md-2 my-auto px-3 px-xl-5"> 
          <img src="{{ '/assets/images/logos/hitrust.svg' | relative_url }}" class="grayscale img-fluid bg-white round shadow px-5 py-3" alt="g" loading="lazy" crossorigin="anonymous">
        </div>
        <div class="col-md-2 my-auto px-3 px-xl-5">
          <img src="{{ '/assets/images/logos/soc2.svg' | relative_url }}" class="grayscale img-fluid bg-white round shadow px-5 py-3" alt="" loading="lazy" crossorigin="anonymous">
        </div>
        <div class="col-md-2 my-auto px-3 px-xl-5">
          <img src="{{ '/assets/images/logos/pci.svg' | relative_url }}" class="grayscale img-fluid bg-white round shadow px-5 py-3" alt="" loading="lazy" crossorigin="anonymous">
        </div>
      </div>
    </div>
  </div>