<!-- Footer -->
<div class="footer pt-11 pb-3 bg-dark text-body">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="mb-4">
          <h4 class="mb-4 text-white">TransferVox</h4>
          <p>TransferVox securely transfers call recordings from anywhere, to anywhere.</p>
          <br />
          <p>Made in Austin & Berlin.</p>
        </div>
      </div>
      <div class="col-lg-8 col-md-6 col-12 ms-auto">
        <div class="mb-4">
          <h4 class="mb-4 text-white">Subscribe to our newsletter</h4>
          <div>
            <p>Interested in learning more about our secure call transfer services? Enter your email to get tips and tricks about using TransferVox.</p>
            {% include form-opt-in.html %}
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="mt-8">
          <ul class="list-inline">
            <li class="list-inline-item">© {{ site.time | date: '%Y' }} {{ site.title }}</li>
            {% for item in site.data.nav.bottom-bar %}
            <li class="list-inline-item"><a href="{{ item.url | absolute_url }}" class="text-reset" rel="nofollow">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Taboola Pixel Code -->
<script type='text/javascript'>
  window._tfa = window._tfa || [];
  window._tfa.push({notify: 'event', name: 'page_view', id: 1488338});
  !function (t, f, a, x) {
         if (!document.getElementById(x)) {
            t.async = 1;t.src = a;t.id=x;f.parentNode.insertBefore(t, f);
         }
  }(document.createElement('script'),
  document.getElementsByTagName('script')[0],
  '//cdn.taboola.com/libtrc/unip/1488338/tfa.js',
  'tb_tfa_script');
</script>
<!-- End of Taboola Pixel Code -->
<script type="text/javascript">
  (function (d, u, h, s) {
    h = d.getElementsByTagName('head')[0];
    s = d.createElement('script');
    s.async = 1;
    s.src = u + new Date().getTime();
    h.appendChild(s);
  })(document, 'https://grow.clearbitjs.com/api/pixel.js?v=');
</script>