<div id="form">
  <form
    action="https://formspree.io/f/xwkyaaop"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    class="row g-2"
    novalidate
  >
    <div class="form-floating mb-3 col-6">
      <input
        class="form-control"
        type="text"
        name="FNAME"
        id="mce-FNAME"
        placeholder="First Name"
        required=""
      />
      <label class="form-label" htmlFor="fname"
        >First Name<span class="text-danger">*</span></label
      >
    </div>
    <div class="form-floating mb-3 col-6">
      <input
        class="form-control"
        type="text"
        name="LNAME"
        id="mce-LNAME"
        placeholder="Last Name"
        required=""
      />
      <label class="form-label" htmlFor="lname"
        >Last Name<span class="text-danger">*</span></label
      >
    </div>
    <div class="form-floating mb-3">
      <input
        class="form-control"
        type="email"
        name="EMAIL"
        id="mce-EMAIL"
        placeholder="Email Address"
        required=""
      />
      <label class="form-label" htmlFor="email"
        >Email<span class="text-danger">*</span></label
      >
    </div>
    <div class="form-floating mb-3">
      <input
        class="form-control"
        type="text"
        name="PHONE"
        id="mce-PHONE"
        placeholder="Phone"
        required=""
      />
      <label class="form-label" htmlFor="phone"
        >Phone Number<span class="text-danger">*</span></label
      >
    </div>
    <div class="form-floating mb-3">
      <input
        class="form-control"
        type="text"
        name="ORGNAME"
        id="mce-ORGNAME"
        placeholder="Company name"
        required=""
      />
      <label class="form-label" htmlFor="orgname"
        >Company Name<span class="text-danger"
          >*</span
        ></label
      >
    </div>
    <!--
    <div class="form-floating mb-3">
      <select class="form-select" name="ORGTYPE" id="mce-ORGTYPE">
        <option selected>Select one...</option>
        <option defaultValue="8x8">8x8</option>
        <option defaultValue="dubber">dubber (including Evolve IP)</option>
        <option defaultValue="RingCentral">RingCentral</option>
        <option defaultValue="OrecX">OrecX</option>
        <option defaultValue="Other">Other</option>
      </select>
      <label class="form-label" for="orgtype"
        >Voice Recording Service<span class="text-danger">*</span></label
      >
    </div>
  -->
    <div class="form-floating mb-3">
      <input
        class="form-control"
        type="text"
        name="MMERGE6"
        id="mce-MMERGE6"
        placeholder=""
        required=""
      />
      <label class="form-label" htmlFor="MMERGE6">How can we help you?</label>
    </div>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display: none"></div>
      <div
        class="response"
        id="mce-success-response"
        style="display: none"
      ></div>
    </div>
    <div style="position: absolute; left: -5000px" aria-hidden="true">
      <input
        type="text"
        name="b_f0d949cdf0a6a387f7b55a173_4f123ead61"
        tabindex="-1"
        defaultValue=""
      />
    </div>
    <div class="form-floating mb-3 mt-2 d-grid">
      <input type="text" name="_gotcha" style="display:none" />
      <div
        class="“g-recaptcha”"
        data-sitekey="“6LdDKBQiAAAAAFYPT-YTt9Epv4igwGbF5caLhfXm”"
      ></div>
      <br />
      <button
        type="submit"
        class="btn btn-primary"
        defaultValue="Request a call"
        name="subscribe"
        id="mc-embedded-subscribe"
      >
        Request More Information
      </button>
    </div>
  </form>
</div>
