<form
	action="https://formspree.io/f/xwkyaaop"
	method="post"
	class="form-row mb-4"
	rel="noopener"
	novalidate
>
	<div class="mb-3">
		<label for="email" class="sr-only"></label>
		<input
			type="email"
			name="email"
			class="form-control border-white"
			id="email"
			aria-describedby="emailHelp"
			placeholder="Enter Email Address"
			autocomplete="on"
			required="" />
	</div>
	<button
		type="submit"
		value="Subscribe"
		name="subscribe"
		class="btn btn-primary">
		Submit
	</button>
</form>