<div id="wrapper" class="col-6">
  <span class="label">
    <img src="{{ page.offer_image }}" class="img-fluid rounded-3" width="100px" />
  </span>
  <div class="branch lv1">
    {% for entry in page.exportendpoints %}
    <div class="entry">
      <span class="label">
        <img src="{{ entry.image | prepend: '/assets/images/logos/' }}" alt="{{ entry.name }}" class="img-fluid rounded-3" width="60px" />
        </span>
      </div>
    {% endfor %}
  </div>
</div>

<style>
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  #wrapper {
    position: relative;
  }

  .branch {
    position: relative;
    margin-left: 250px;
  }
  .branch:before {
    content: "";
    width: 50px;
    border-top: 2px solid #f4f4f5;
    position: absolute;
    left: -100px;
    top: 50%;
    margin-top: 1px;
  }

  .entry {
    position: relative;
    min-height: 60px;;
  }
  .entry:before {
    content: "";
    height: 100%;
    border-left: 2px solid #f4f4f5;
    position: absolute;
    left: -50px;
  }
  .entry:after {
    content: "";
    width: 50px;
    border-top: 2px solid #f4f4f5;
    position: absolute;
    left: -50px;
    top: 50%;
    margin-top: 1px;
  }
  .entry:first-child:before {
    width: 10px;
    height: 50%;
    top: 50%;
    margin-top: 2px;
    border-radius: 10px 0 0 0;
  }
  .entry:first-child:after {
    height: 10px;
    border-radius: 10px 0 0 0;
  }
  .entry:last-child:before {
    width: 10px;
    height: 50%;
    border-radius: 0 0 0 10px;
  }
  .entry:last-child:after {
    height: 10px;
    border-top: none;
    border-bottom: 2px solid #f4f4f5;
    border-radius: 0 0 0 10px;
    margin-top: -9px;
  }
  .entry.sole:before {
    display: none;
  }
  .entry.sole:after {
    width: 50px;
    height: 0;
    margin-top: 1px;
    border-radius: 0;
  }

  .label {
    display: block;
    min-width: 150px;
    padding: 5px 10px;
    line-height: 20px;
    text-align: center;
    border: 2px solid #f4f4f5;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
  }
</style>
