<div class="row row-cols-1 row-cols-md-3 mb-3">
  <div class="col mb-5">
    <div class="card mb-4 rounded-3 shadow-sm h-100">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Starter</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          $7.50<small class="text-muted fw-light">/user</small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4 font-12">
          <li>$7.50 per user per month</li>
          <li>Includes 1,000 recordings per user</li>
          <li>Overage $1 per 1k recordings per user</li>
          <li>Receive files via SFTP</li>
          <li><s>Receive files via Gong.io</s></li>
          <li><s>Managed AWS storage $0.015 per GB</s></li>
        </ul>
      </div>
      <div class="card-footer bg-white border-0">
        <a
        type="button"
        href="{{ 'request-demo' | absolute_url }}"
        class="w-100 btn btn-lg btn-outline-primary"
        >
          Contact Us
        </a>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card mb-4 rounded-3 shadow-sm h-100">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Pro</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          $8.50<small class="text-muted fw-light">/user</small>
        </h1>
        <ul class="list-unstyled mt-3 mb-4 font-12">
          <li>$7.50 per user per month</li>
          <li>Includes 1,000 recordings per user</li>
          <li>Overage $1 per 1k recordings per user</li>
          <li>Receive files via SFTP</li>
          <li>Receive files via Gong.io</li>
          <li><s>Managed AWS storage $0.015 per GB</s></li>
        </ul>
      </div>
      <div class="card-footer bg-white border-0">
        <a
        type="button"
        href="{{ 'request-demo' | absolute_url }}"
        class="w-100 btn btn-lg btn-outline-primary"
        >
          Contact Us
        </a>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card mb-4 rounded-3 shadow-sm h-100 border-primary">
      <div class="card-header py-3 text-white bg-primary border-primary">
        <h4 class="my-0 fw-normal"><strong>Enterprise</strong></h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          Custom
        </h1>
        <ul class="list-unstyled mt-3 mb-4 font-12">
          <li>$7.50 per user per month</li>
          <li>Includes 1,000 recordings per user</li>
          <li>Overage $1 per 1k recordings per user</li>
          <li>Receive files via SFTP</li>
          <li>Receive files via Gong.io</li>
          <li>Managed AWS storage $0.015 per GB</li>
        </ul>
      </div>
      <div class="card-footer bg-white border-0">
        <a
        type="button"
        href="{{ 'request-demo' | absolute_url }}"
        class="w-100 btn btn-lg btn-outline-primary"
        >
          Contact Us
        </a>
      </div>
    </div>
  </div>
</div>
