<div class="row row-cols-1 row-cols-md-2 mb-3">
  <div class="col mb-5 p-2">
    <div class="card mb-4 rounded-3 shadow-sm h-100">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Standard{% if page.discount == true %}<br /><span class="small text-danger">33% discount for {{ page.offer_name }} customers*</span>{% endif %}</h4>
      </div>
      <div class="card-body py-3 pt-3 pb-0">
        <h1 class="card-title pricing-card-title">
          {% if page.discount == true %}<strike>$7.50</strike> $4.99{% else %}$7.50{% endif %} <br /><small class="text-muted fw-light">per recorded line per month</small>
        </h1>
        <ul class="list-unstyled mt-3 mb-0">
          <hr>
          <li>Includes up to 1,000 calls per user</li>
          <hr>
          <li>$2 per 1k extra recordings per user</li>
          <hr>
          <li>Connect a single endpoint</li>
          {% if page.discount == true %}
          <hr>
          <li>Terms apply to discounted rate. Limited time offer.</li>
          {% endif %}
        </ul>
      </div>
      <div class="card-footer bg-white border-0">
        <a
        href="{{ 'request-demo' | absolute_url }}"
        class="w-100 btn btn-lg btn-outline-primary"
        >
          Contact Us
        </a>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card mb-4 rounded-3 shadow-sm h-100 border-primary">
      <div class="card-header py-3 text-white bg-primary border-primary">
        <h4 class="my-0 fw-normal text-white"><strong>Enterprise</strong></h4>
      </div>
      <div class="card-body py-3 pt-3 pb-0">
        <h1 class="card-title pricing-card-title">
          Custom
        </h1>
        <ul class="list-unstyled mt-3 mb-0">
          <li class="fw-bold">If you have unique needs, get in touch!</li>
          <hr>
          <li>High volume of calls</li>
          <hr>
          <li>Multiple endpoint connections</li>
          <hr>
          <li>One-time data transfers</li>
          <hr>
          <li>Managed backup services</li>
        </ul>
      </div>
      <div class="card-footer bg-white border-0">
        <a
        href="{{ 'request-demo' | absolute_url }}"
        class="w-100 btn btn-lg btn-primary"
        >
          Contact Us
        </a>
      </div>
    </div>
  </div>
</div>
